h1{
	color: rgb(24, 27, 167);
	font-size: 32px;
	font-family: (Arial, sans-serif);
}

p{
	color: black;
	font-size: 16px;
	font-family: Arial, sans-serif;
	text-align:justify;/*para justificar el texto*/
}

button:active{
	
	
}